<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cosmetic</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

</head>
<body>
  <%# <nav class="nav">
    <a class="nav-link active" href="#">Active</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </nav> %>

  <nav class="nav navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <a class="navbar-brand" href="/">Cosmetic</a>
      <a class="nav-link" href="https://frosty-kilby-df8b87.netlify.com/">Chat <span class="sr-only">(current)</span></a>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="/">Cosmetic</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="https://frosty-kilby-df8b87.netlify.com/">Chat <span class="sr-only">(current)</span></a>
        </li>
        <%# <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li> %>
      </ul>

      <form class="form-inline my-2 my-lg-0" action="/search_results" method="get">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>

    </div>
  </nav>

<nav class="nav">
  <% if logged_in? %>
  <% p logged_in? %>

    <p class="navbar"><%= current_user['email'] %></p>

    <form class="navbar" action="/session" method="post">
      <input type="hidden" name="_method" value="delete">
      <button>logout</button>
    </form>
    <a class="nav-link" href="/cart">My cart</a>
  <% else %>
    <a class="nav-link active" href="/login">Log in</a>
    <a class="nav-link" href="/signup">Sign Up</a>
  <% end %>
</nav>

  <%= yield %>

  
<footer class="footer">
  @copyright David Cho
</footer>
</body>
</html>
