<h1>Log in</h1>

<form action="/login" method="post">
    <label for="">email</label>
    <input type="text" name="email">

    <label for="">password</label>
    <input type="password" name="password">

    <button>login</button>
</form>

<p>Haven't signed up yet?</p>

<a href="/signup">Sign Up</a>