
<div class="login-con">
    <h1 class="title">Log in</h1>

    <form action="/login" method="post">
        <label for="">email</label>
        <input type="text" name="email">

        <label for="">password</label>
        <input type="password" name="password">

        <button>login</button>
    </form>

    <h4 class="h4">Haven't signed up yet?</h4 class="h4">

    <a href="/signup">Sign Up</a>

</div>