<h1>Sign Up</h1>

<h3>Basic Info</h3>
<form action="/signup" method="post">
    <label for="">email</label>
    <input type="text" name="email">

    <label for="">password</label>
    <input type="password" name="password">


<h3>Skin Info</h3>

<h5>gender</h5>
<select name="gender">
  <option value="male">male</option>
  <option value="female">female</option>
</select>

<h5>age</h5>
<input type="number" name="age">

<h5>skin type</h5>
<select name="skin_type">
  <option value="dry">dry</option>
  <option value="mild">mild</option>
  <option value="oily">oily</option>
  <option value="complex">complex</option>
</select>

<h5>skin trouble</h5>
<select name="skin_trouble">
  <option value="none">none</option>
  <option value="alergic">alergic</option>
  <option value="pimple">pimple</option>
  <option value="sensative">sensative</option>
</select>

<h5>sign up</h5>
  <button>Sign Up</button>
</form>


