body {
    width: 100%;
}

.nav {
    width: 100%;
    margin-bottom: 100px;
}

.carou {
    text-align: center;
}

.image {
    display: block;
    width: 50%;
}

.recommended {
    margin-top: 40px;
    margin-left: 80px;
}


.search {
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.product-info {
    margin-left: 25%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.product-image {
    width: 50%;
}

.product-column {
    width: 60%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.signup-con {
    margin-top: 60px;
    margin-left: 50px;
}

.title {
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 50px;
}

.h4 {
    margin-top: 50px;
}

.email {
    width: 30%;
    height: 40px;
}

.info {
    margin-top: 25px;
    margin-bottom: 25px;
}

.skin {
    margin-top: 20px;
}

.select {
    width: 200px;
    height: 50px;
}

.login-con {
    margin-left: 300px;
    margin-bottom: 400px;
}

.add-cart {
    width: 150px;
}

.cart_image {
    width: 150px;
}

.counter {
    display: inline;
}

.form-group {
	width: 30%;
    margin: 30px;
    margin-left: 200px;
}

.total {
    margin-left: 700px;
}

#paypal-button-container {
    margin-left: 700px;
    width: 30%;
}



.cart {
    margin-left: 200px;
}

.cart-product {
    display: flex;
    justify-content: space-evenly;
}

.footer {
    background-color: #d1ecf1;
    width: 100%;
    height: 60px;
    color: white;
    margin-top: 50px;
}